.container {
    font-family: Arial, sans-serif;
    padding: 30px;
    margin: 0 auto;
    color: #333;
    column-gap: 250px;
}


.welcomeText {
    font-size: 24px;
    font-weight: normal;
    color: #555;
    margin-bottom: 5px;
}

.saved-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.address-section {
    margin-bottom: 20px;
    /* Add some spacing below the address section */
}

.form-container-add {
    margin-top: 40px;
    height: 450px;
    width: 350px;
    padding:20px;
    border: 1px solid #ddd;
    /* Optional: Add a border for better visibility */
    border-radius: 5px;
    /* Optional: Add rounded corners */
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-block {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address-block.selected {
    background-color: #e6f7ff;
    border-color: #007bff;
}

.radio-button {
    margin-right: 10px;
    cursor: pointer;
}

.address-info {
    flex-grow: 1;
}

.address-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.address-text {
    font-size: 16px;
    color: #777;
    line-height: 1.4;
}

.button {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    align-items: center;
    background-color: #28a745;
}

.delete-button {
    align-items: center;
    background-color: #dc3545;
}

.save-button {
    background-color: #007bff;
    margin-top: 10px;
}

.input {
    display: inline-block;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    gap: 30px;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.dateText {
    font-size: 18px;
    color: #777;
    margin-bottom: 10px;
    /* Spacing below the date text */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.button {
    margin: 5px;
}

